<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
     <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
  <% } %>
</table>
<p>
<h2>Buscador de preguntas</h2>
<form method="get" action="/quizes">
  Texto a buscar en la pregunta: <p>
  <input type="text" name="search" />
  <input type="submit" valu="Enviar">
</form>
